{%   load staticfiles   %}

<html>

	<head>
	
		<title>	AlgoLove : Love for Algorithms	</title>
		<link rel="stylesheet" type="text/css" href="{%  static  'css/c1.css'  %}">
		<script src="{%  static  'javascript/jquery.js'  %}">	</script>
	
	</head>
	
	<body>
		
		<div id="m1">
			
			<a href="{% url 'home_page' %}">
			<p id="p1">  algo	</p>
			<p id="p2">	 love	</p>
			</a>
			
			<a	href="">
			<div id="mm1">
				<p id="p3">LOGIN</p>	
			</div>
			</a>
			
			<a	href="">
			<div id="mm2">	
				<p id="p4">SIGNUP</p>
			</div>
			</a>
			
		</div>
		
		<div id="m2">
		
		</div>
		
		
	
	</body>




</html>
