{%   load staticfiles   %}

<html>

	<head>
	
		<title>	AlgoLove : Love for Algorithms	</title>
		<link rel="stylesheet" type="text/css" href="{%  static  'css/c1.css'  %}">
		<script src="{%  static  'javascript/jquery.js'  %}">	</script>
		<script src="{%  static  'javascript/j1.js'  %}">	</script>
	
	</head>
	
	<body>
		
		<div id="m1">
			
			<a href="{% url 'home_page' %}" id="xa">
			<p id="p1">  algo	</p>
			<p id="p2">	 love	</p>
			</a>
			
			<a	href="{%	if request.user.is_authenticated	%}	
					  {%	url 'profile_page' username=request.user.username	%}
					  {% 	else				%}
					  {%	url 'log_in'		%}
					  {%	endif		%}
					 
						">
			<div id="mm1">
				<p id="p3">
				{%	if request.user.is_authenticated 	%}
					{{	user.username 	}}
				{%	else	%}
					LOGIN
				{%	endif	%}
				</p>	
			</div>
			</a>
			
			<a	href="{%	if request.user.is_authenticated	%}	
					  {%	url 'log_out'		%}
					  {% 	else				%}
					  {%	url 'sign_up'		%}
					  {%	endif		%}
					 
						">
			<div id="mm2">	
				<p id="p4">
					{%	if request.user.is_authenticated 	%}
						LOGOUT
					{%	else	%}
						SIGNUP
					{%	endif	%}
				</p>
			</div>
			</a>
			
		</div>
		
		<div id="m2">
		
		</div>
		
		<div id="m4">
		
			<a href="">
				<div id="m3">
					<p id="p5">	WELCOME	</p>
				</div>
			</a>
		
		</div>

		
		<div style="height:18%">	</div>

		<div id="r1">			
			<div id="r12" style="width:40%">
				<p class="pi1">	RECENT ACTIVITY	</p>

				{%	for a in arr	%}
					<a href="{%	url 'algo_snippet_detail' algo_snippet_id=a.id %}	">
						<div id="vip1">
							<p id="pi2">	{{	a.title 	}}	</p>
							<p id="pi3">	{{	a.author 	}}	</p>
						</div>
					</a>
				{%	endfor	%}
			</div>
			
			<div id="r13" style="width:40%">	
				<p class="pi1">	TOP AUTHORS	</p>
			</div>
		</div>

		<div style="height:4%">	</div>


		<div class="m5">

			<div class="m51">
				<p class="p6">LEARN CODING</p>
			</div>

			<div class="m52">
				<a href="{% url 'algo_snippet_list' %}">
					<div class="m521">
						<div class="mh1">
							<p class="p7">
								ALGORITHMS & DATA STRUCTURES
							</p>
						</div>

						<div class="mh2">
							<p class="p8">
								LEARN ALGORITHMS AND DATA  <br>
								STRUCTURES BY READING TUTORIALS.
							</p>
						</div>

					</div>
				</a>
				
				<a href="{%	url 'coding_snippet_list'	%}	">
					<div class="m522">
						<div class="mh1">
							<p class="p7">
								COMPETITIVE CODING
							</p>
						</div>

						<div class="mh2">
							<p class="p8">
								READ EDITORIALS OF PROGRAMMING <br>
								PROBLEMS OF ONLINE JUDGES .
							</p>
						</div>
					</div>
				</a>

			</div>

		</div>


		<div class="m5">

			<div class="m51" id="sp1">
				<p class="p6">CONTRIBUTE</p>
			</div>

			<div class="m52">
				<a href="{%	 url 'add_algo_snippet'	%}">
					<div class="m521" id="sp2">
						<div class="mh1">
							<p class="p7">
								ADD TUTORIAL
							</p>
						</div>

						<div class="mh2">
							<p class="p8">
								WRITE TUTORIALS OF COMPLEX  <br>
								ALGORITHMS AND DATA STRUCTURES	<br>
							
							</p>
						</div>

					</div>
				</a>
				
				<a href="{%	 url 'add_coding_snippet'	%}">
					<div class="m522"  id="sp3">
						<div class="mh1">
							<p class="p7">
								ADD EDITORIALS/SOLUTIONS
							</p>
						</div>

						<div class="mh2">
							<p class="p8">
								WRITE EDITORIALS OF ONLINE <br>
								PROGRAMMING PROBLEMS
							</p>
						</div>
					</div>
				</a>

			</div>

		</div>

	
	</body>




</html>
