{%   load staticfiles   %}

<html>

	<head>
	
		<title>	AlgoLove : Love for Algorithms	</title>
		<link rel="stylesheet" type="text/css" href="{%  static  'css/log_in.css'  %}">
		<link rel="stylesheet" type="text/css" href="{%  static  'css/w3css.css'  %}">
		<script src="{%  static  'javascript/jquery.js'  %}">	</script>
		<script src="{%  static  'javascript/log_in.js'  %}">	</script>
	
	</head>

	<body>

		<a href="{%	url 'home_page'%} ">
			<div id="hd">
				<p id="p1">	algo 	</p>
				<p id="p2">	love 	</p>
			</div>
		</a>

		<div class="login-page">
	    	<div class="form">
    			
    			<form class="login-form" method="POST" action="{%	url 'log_in'	%}">

    				{% csrf_token %}
      				<p>	{{form.username }}	</p>
      				<p>	{{form.password 	}}</p>
      				<button type="submit">login</button>
      				<p class="message">Not registered? <a href="{% url 'sign_up' %}">
      					Create an account</a></p>
    			</form>


  			</div>
		</div>

	</body>

</html>