
#m1
{
	width:100%;
	height:15%;
	background-color:;
/*	border:1px solid #25383C;*/
}

#p1
{
	color:#008080;
	float:left;
	font-size:30px;
	margin-left:80px;
	font-family:Cursive;
}

#p2
{
	color:#7F5A58;
	float:left;
	font-size:30px;
	font-family:Cursive;
}

#p3
{
	text-align:center;
	font-family:Cursive;
	font-size:15px;
}

#p4
{
	text-align:center;
	font-family:Cursive;
	font-size:15px;
}


#mm1
{
	float:left;
	color:#008080;
	margin-left:780px;
	margin-top:25px;
	height:53%;
	width:8%;
	background-color:white;
	border-radius:5px;
	border:1px solid #008080;	
	-webkit-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}

#mm2
{
	float:left;
	color:#008080;
	margin-left:28px;
	margin-top:25px;
	height:53%;
	width:8%;
	background-color:white;
	border-radius:5px;
	border:1px solid #008080;
	-webkit-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}

#mm1:hover
{
	background-color:#008080;
	color:white;
}

#mm2:hover
{
	background-color:#008080;
	color:white;
}


#m2
{
	background-image:url("se.jpg");
	height:68%;
	width:101%;
	margin-left:-7px;
}

a
{
	text-decoration:none;
}

#m3
{
	width:20%;
	height:10%;	
	color:#666362;
	margin-left:auto;
	margin-right:auto;
	margin-top:22px;
	border-radius:30px;
	border:2px solid #666362;
	-webkit-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}


#p5
{
	text-align:center;
	font-family:Cursive;
	font-size:15px;
	margin-top:20px;
}

#m3:hover
{
	background-color:#666362;
	color:white;
}

.m5
{
	background-color:white;
	width:100%;
	height:100%;
	margin-top:3%;
}


.m51
{
	margin-left:40%;
	border-radius:10px;
	float:left;
	background-color:#54C571;
	width:20%;
	height:12%;
	margin-top:4%;

	color:white;
}

.p6
{
	text-align:center;
	font-family:Cursive;
	font-size:17px;
	margin-top:20px;
	margin-top:25px;
}

.m52
{
	float:left;
	background-color:white;
	width:100%;
	height:45%;
	margin-top:9%;
}

.m521
{
	float:left;
	border:2px solid #54C571;
	width:30%;
	color:#54C571;
	height:100%;
	margin-left:15%;
	border-radius:15px;
	-webkit-transition: all 0.7s ease-in;
	transition: all 0.3s ease-in;
}

.m521:hover
{
	color:#6F4E37;
}

.m522
{
	float:left;
	background-color:white;
	border:2px solid #54C571;
	width:30%;
	color:#54C571;
	height:100%;
	margin-left:10%;
	border-radius:15px;
	-webkit-transition: all 0.7s ease-in;
	transition: all 0.3s ease-in;
}

.m522:hover
{
	color:#6F4E37;
}

.mh1
{
	margin-left:auto;
	margin-right:auto;
/*	background-color:black;	*/
	width:100%;
	height:32%;
}

.p7
{
	font-size:17px;
	margin-top:47px;
	text-align:center;
}

.p8
{
	font-size:14px;
	color:#254117;
	text-align:center;
}

#sp1
{
	background-color:#8C001A;
}

#sp2
{
	border:2px solid #8C001A;
	color:#8C001A;
}

#sp3
{
	border:2px solid #8C001A;
	color:#8C001A;	
}

#sp2:hover
{
	color:#7D0541;
}

#sp3:hover
{
	color:#7D0541;
}