#m1
{
	width:100%;
	height:15%;
	background-color:white;
/*	border:1px solid #25383C;*/
}

#s
{
	height:100%;
}

#p1
{
	color:#008080;
	float:left;
	margin-left:26%;
	margin-top:10%;
	font-size:30px;
	font-family:Cursive;
}

#p2
{
	margin-top:10%;
	color:#7F5A58;
	float:left;
	font-size:30px;
	font-family:Cursive;
}

#p3
{
	text-align:center;
	font-family:Cursive;
	font-size:15px;
	margin-top:14%;
}

#p4
{
	text-align:center;
	font-family:Cursive;
	font-size:15px;
	margin-top:14%;
}


#mm1
{
	color:#008080;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	height:53%;
	width:100%;
	background-color:white;
	border-radius:5px;
	border:1px solid #008080;	
	-webkit-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}

#mm2
{
	float:left;
	color:#008080;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	height:53%;
	width:100%;
	background-color:white;
	border-radius:5px;
	border:1px solid #008080;
	-webkit-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}

#mm1:hover
{
	background-color:#008080;
	color:white;
	text-decoration: none;
}

#mm2:hover
{
	background-color:#008080;
	text-decoration: none;
	color:white;
}

#m2
{
	height:20%;/*
	border-top:2px solid #254117;
	border-bottom:2px solid #254117;*/
	background-color:#7F462C;
	color:white;
}

#p5
{
	text-align:center;
	font-size:24px;
	margin-top:5%;
}

#n1
{
	height:5%;
	background-color:#7F462C;
	color:white;
}

#p6
{
	text-align:center;
	margin-top:54%;
	font-size:15px;
}

a
{
	text-decoration: none;
}

#p7
{
	text-align:center;
	margin-top:54%;
	
	font-size:15px;
}

#b1
{
	background-color:red;
}

a:hover
{
	text-decoration:none;
}

#m3
{
	border:2px solid white;
	border-radius:6px;
}

#x1
{
	margin-top:4%;
}

.m51
{
	margin-left:40%;
	border-radius:10px;
	float:left;
	background-color:#810541;
	width:20%;
	height:12%;
	margin-top:4%;

	color:white;
}

.p6
{
	text-align:center;
	font-family:Cursive;
	font-size:17px;
	margin-top:20px;
	margin-top:25px;
}